$gray-dark:            	#000000;
$gray:              rgb(40,40,40);
$gray-light:                   #A1A1A1;
$gray-lighter:             #BBBBBB;
$gray-lightest:           #F2F2F2;

$brand-primary:         rgb(179,159,103);
$brand-success:         rgb(79,184,46);
$brand-info:            rgb(179,159,103);
$brand-warning:         #ffca52;
$brand-danger:          #89375C;

$body-bg: #FAFAFA;

$fa-font-path: "~font-awesome/fonts";